@import 'transitions.scss';
@import 'container.scss';
@import 'card.scss';
@import 'btn.scss';

@font-face {
  font-family: dosis;
  src: url(../fonts/Dosis-Regular.ttf);
}

@font-face {
  font-family: amiko;
  src: url(../fonts/Amiko-Regular.ttf);
}